* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#nav {
    /* background-color: rgb(218, 20, 20); */
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
}

#nav h4 {
    font-size: 18px;
    font-weight: 500;
}

#nav i {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(255, 255, 255);
    height: 35px;
    width: 35px;
    font-size: 18px;
    font-weight: 500;
}

#center {
    width: 100%;
    /* background-color: red; */
    padding: 30px 80px;
}

h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 90px;
}

#center-in {
    height: 174px;
    /* background-color: red; */
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

#center-in p {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;

}

#right {
    width: 20%;
}


.elem {
    /* margin: 5px; */
    /* background-color: yellow; */
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem a {
    color: black;
    text-decoration: none;
    font-weight: 520;
    font-size: 24px;
}

.elem i {
    color: black;
    text-decoration: none;
    font-weight: 520;
    font-size: 30px;
    opacity: 0;
}

.elem:hover i {
    opacity: 1;
}

.elem:hover {
    background-color: #f3f3f3;
}

.elem:hover a {
    text-decoration: underline;
}

#bottom {
    height: 40%;
    width: 100%;
    margin-top: 50px;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1685377370139-a62739a3d9fd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0% 15%;
}