* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F8F8F8;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: .1px;
}

#nav {
    height: 5vw;
    width: 100%;
    /* background-color: rgb(205, 182, 228); */
    margin-top: 2vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav h1 {
    /* background-color: yellow; */
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 8vw;
    letter-spacing: -3px;
}



#nav h2 {
    /* background-color: yellow; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 1.2vw;
    font-weight: 500;
}

#nav h2:nth-last-child(1) {
    width: 10%;
    /* background-color: red; */
    font-size: 1.7vw;
    justify-content: flex-start;
    font-weight: 400;
}

#center {
    height: calc(100% - 7vw);
    width: 100%;
    /* background-color: rebeccapurple; */
    padding: 2.5vw 4vw;
    /* padding-bottom: 5vw; */
    position: relative;
}

#content {
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#overlay {
    height: 53%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: rebeccapurple; */
    padding: 3vw;
}

#overtop h1 {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.4vw;
    margin-bottom: 2vw;
}


#overtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#circle {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    /* background-color: yellow; */
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid white;

}

#overtop h2 {
    font-size: 1vw;
}

#overbottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgb(255, 255, 255);
}

#overbottom h4 {
    margin-top: 1vw;
    color: white;
    font-size: 1.3vw;
    font-weight: 500;
}

#overbottom img {
    width: 1vw;
    height: 2vw;
}

#scroll {
    height: 40vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#container {
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
    display: inline-block;
    padding: 2vw 1vw;
    animation-name: scroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left: .5vw;

}

#scroll img {
    /* display: none; */
    height: 90%;
    border-radius: 50%;
    width: 15%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}

#scroll::-webkit-scrollbar {
    display: none;
}

@keyframes scroll {
    form {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

#alphabet {
    height: 10vw;
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2vw;
    font-weight: 700;
}



#page2 {
    height: 100%;
    width: 100%;

}