* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F8F8F8;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: .1px;
}

#nav {
    height: 5vw;
    width: 100%;
    /* background-color: rgb(205, 182, 228); */
    margin-top: 2vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav h1 {
    /* background-color: yellow; */
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 8vw;
    letter-spacing: -3px;
}



#nav h2 {
    /* background-color: yellow; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 1.2vw;
    font-weight: 500;
}

#nav h2:nth-last-child(1) {
    width: 10%;
    /* background-color: red; */
    font-size: 1.7vw;
    justify-content: flex-start;
    font-weight: 400;
}

#center {
    height: calc(100% - 7vw);
    width: 100%;
    /* background-color: rebeccapurple; */
    padding: 2.5vw 4vw;
    /* padding-bottom: 5vw; */
    position: relative;
}

#content {
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#overlay {
    height: 53%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: rebeccapurple; */
    padding: 3vw;
}

#overtop h1 {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.4vw;
    margin-bottom: 2vw;
}


#overtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#circle {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    /* background-color: yellow; */
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid white;

}

#overtop h2 {
    font-size: 1vw;
}

#overbottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgb(255, 255, 255);
}

#overbottom h4 {
    margin-top: 1vw;
    color: white;
    font-size: 1.3vw;
    font-weight: 500;
}

#overbottom img {
    width: 1vw;
    height: 2vw;
}

#scroll {
    height: 40vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#container {
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
    display: inline-block;
    padding: 2vw 1vw;
    animation-name: scroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left: .5vw;

}

#scroll img {
    /* display: none; */
    height: 90%;
    border-radius: 50%;
    width: 15%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}

#scroll::-webkit-scrollbar {
    display: none;
}

@keyframes scroll {
    form {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

#alphabet {
    height: 6vw;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 4vw;
    padding-right: 4vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#alphabet h5 {
    font-size: 1.7vw;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    margin-right: 2vw;
}

#alphabet h6 {
    font-size: 1vw;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* background-color: rgb(175, 218, 58); */
    padding: 0.6vw 0.8vw;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all ease 0.2s;
    cursor: pointer;
    color: black;
}

#alphabet h6:hover {
    border: 2px solid rgb(0, 0, 0);
    color: #333;
}

#page2 {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page2-part1 {
    height: 100%;
    width: 55%;
    background-image: url(https://images.unsplash.com/photo-1495914510314-ba3164b1321f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzV8fGxhZHl8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-size: cover;
}

#page2-part2 {
    /* padding-top: 1vw; */
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

#page2-part2 img {
    height: 80%;
    width: 100%;
    /* padding-right: 1vw; */
    object-fit: cover;
    background-position: center;

}

#text-content {
    /* background-color: red; */
    height: 20%;
    width: 100%;
    display: flex;
    padding-top: 1vw;
}


#text-content h3 {
    font-size: 1.5vw;
    height: 100%;
    width: 40%;
    font-weight: 600;
    margin-right: 5vw;
}

#text-content p {
    font-size: 1vw;
    height: 100%;
    width: 60%;
    font-weight: 540;
    line-height: 1.2vw;
}

#page3 {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: .1vw 5vw;
}

#page3 h1 {
    height: 10%;
    width: 100%;
    font-size: 2.5vw;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: yellow; */
}

#content3 {
    width: 100%;
    height: 90%;
    margin-top: 2vw;
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#box1 {
    width: 45%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* padding: 8vw; */
    /* background-color: chocolate; */
}

#circle-word {
    width: 28vw;
    height: 28vw;
    /* background-color: burlywood; */
    /* object-fit: cover; */
    margin: 8vw 0vw;
    margin-right: 10vw;
    padding-top: 4vw;
    padding-left: 4vw;

}

#arrow img {
    width: 3vw;
    height: 3vw;
    /* background-color: burlywood; */
    object-fit: cover;
    /* padding: 8vw; */
    position: absolute;
    object-fit: cover;
    top: 43%;
    left: 30%;
}



#box2 {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: top;
    /* background-color: chocolate; */
    background-image: url(https://plus.unsplash.com/premium_photo-1692873060143-80f0c7924c23?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

}

#page4 {
    height: 38vw;
    width: 100%;
    /* background-color: rebeccapurple; */
    margin-top: 6vw;
    padding: .1vw 5vw;
}


#bgimg {
    width: 100%;
    height: 100%;
    background-color: yellow;
    background-image: url(https://images.unsplash.com/photo-1691783279623-32dee3f44385?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#page5 {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding: 5vw 4vw;

}

#page5-nav {
    width: 100%;
    /* margin-top: 5vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 5.5vh;
}

#page5-nav>h2 {
    font-size: 3vw;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
}

.elem {
    height: 7.5vw;
    width: 100%;
    /* background-color: rgb(139, 165, 24); */
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    position: relative;
    object-position: top;
}

.elem img {
    height: 135px;
    width: 135px;
    border-radius: 50%;
    left: 15%;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: all ease .7s;
}

.elem h4 {
    font-size: 1vw;
    text-transform: uppercase;
    width: 6%;
}

.elem .elem-part2 {
    width: 45%;
}

.elem-part2 h1 {
    font-size: 2vw;
    font-weight: 500;
}

.elem-part2 h5 {
    font-size: .7vw;
    font-weight: 600;
    color: #333;
}


.elem:nth-last-child(1) {
    border-bottom: 2px solid black;
}

.elem:nth-last-child(1) img {
    left: 40%;
}

.elem:nth-last-child(3) img {
    left: 40%;
}

.elem:hover img {
    opacity: 1;
    left: 24%;
}