*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    color: white;
}

#page1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
}

#page2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(177, 118, 41); */
}

#page3{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(100, 57, 0); */
}

#box{
    height: 300px;
    width: 300px;
    background-color: royalblue;
}