*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#tabs{
    display: flex;
    gap: 20px;
    padding: 12px 22px;
}
 
.tab{
    padding: 12px 22px;
    border: 2px solid black;
    background-color: #c7c4c4;
    border-radius: 5px;
    font-weight: 700;
} 

h3{
    margin-top: 20px;
    width: 60%;
    margin-left: 10px;
    display: none;
}