* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#parent {
    height: 30vh;
    width: 30vw;
    background-color: blanchedalmond;
}

#child {
    height: 50%;
    width: 50%;
    background-color: aqua;
}

/* vw = view poirt  */
/* vh = view poirt */

h1 {
    font-size: 5vmax;
}