*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    padding: 2vw;
}

textarea{
    width: 400px;
    height: 140px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid #dadada;
    outline-color: royalblue;
    padding: 10px;
}

